/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 6. Improve media defaults */
  /* img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  } */
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


#background {
    width: max(40vw, 400px);
}

body {
    display: flex;
    
}

body > div {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.input-row {
    display: flex;
    gap: 20px;
}

label {
    display: block;
}

#background-and-logo {
    position: relative;
}

#logo-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: cal(200px+20vh);
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    
    justify-content: center;
    align-items: center;
}

#logo {
    height: 20vh;
    min-height: 100px;
}

#logo-container div {
    color: white;
}

